@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.woff') format('woff');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans-Bold.woff') format('woff');  
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
}

html, body {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;    
}

* {
    padding: 0;
    margin: 0;
}

.row {
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

[class*="col"] {
    margin: 0px 15px;
    flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
}

.col-1 {
    max-width: calc(100% / 12 * 1 - 30px);
}

.col-2 {
    max-width: calc(100% / 12 * 2 - 30px);
}

.col-3 {
    max-width: calc(100% / 12 * 3 - 30px);
}

.col-4 {
    max-width: calc(100% / 12 * 4 - 30px);
}

.col-5 {
    max-width: calc(100% / 12 * 5 - 30px);
}

.col-6 {
    max-width: calc(100% / 12 * 6 - 30px);
}

.col-7 {
    max-width: calc(100% / 12 * 7 - 30px);
}

.col-8 {
    max-width: calc(100% / 12 * 8 - 30px);
}

.col-9 {
    max-width: calc(100% / 12 * 9 - 30px);
}

.col-10 {
    max-width: calc(100% / 12 * 10 - 30px);
}

.col-11 {
    max-width: calc(100% / 12 * 11 - 30px);
}

.col-12 {
    max-width: calc(100% / 12 * 12 - 30px);
}

.button {    
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 195px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}

.site-header {
    background-color: rgba(11, 64, 89, .3);    
    font-family: 'DroidSans';
    position: relative;
    z-index: 10;    
}

.container {
    width: 1230px;
    margin: 0 auto;    
}

.site-header .container {    
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 200px;
}

.site-header__menu {
    flex: 1 1 100%;    
}

.menu > li {
    display: inline-block;     
    position: relative;  
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100px;  
    position: relative; 
}

.menu > li > a {
    display: block;
    padding: 42px 16px;
    color: white;
    text-decoration: none;
    font-size: 13px;       
}

.menu > li > a:hover {
    color: #4bcaff;
    text-shadow: 0.1px 0.1px .1px #4bcaff, -0.1px -0.1px .1px #4bcaff, -0.1px 0.1px .1px #4bcaff, 0.1px -0.1px .1px #4bcaff;   
    box-shadow: 0 -16px 0 -14px #4bcaff;
}

ul > li > ul {
    display: none;
    position: absolute;
    width: 100px;
    background-color: rgba(1, 1, 1, .3)
}

ul > li > ul > li {    
    list-style-type: none;
}

ul > li > ul > li a {
    display: block;
    padding: 8px 0px 8px 12px;
    font-size: 13px;
    font-weight: 300;
    color: white;
    text-decoration: none;
}

ul > li > ul > li a:hover {    
    background-color: rgba(1, 1, 1, .7);
}

.menu > li:hover > ul {
    display: block;
}

.home_firstscreen {
    height: 804px;
    width: 100%;
    background-image: url(../img/firstscreen.jpg);
    background-size: cover;    
    margin: -100px auto 0px;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .container {
    padding-top: 350px;
}

.slider-wrapper .slide-wrapper {
    list-style-type: none;
    width: 675px;
    height: 370px;        
}

.slider-wrapper .slide {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 675px;
    height: 370px;     
}

.slider-wrapper .first-slider-title {
    font-size: 48px;
    font-weight: 300;
    color: white;
}

.slider-wrapper .first-slider-title span {   
    font-weight: 700;
}

.slider-wrapper .slider-description {
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 680px;
    padding: 40px 0px;
}

.slider-wrapper .button.slider-download {
    display: inline-flex;
    vertical-align: middle;     
    height: 65px;        
    border: 2px solid white;    
    color: white;
}

.slider-wrapper .button.slider-download:hover {
    background-color: #4bcaff;
    border: none;    
}

.slider-wrapper .button.learn-more {
    display: inline-flex;
    vertical-align: middle;      
    height: 61px;  
    color: white;
    background-color: #4bcaff;
    box-shadow: 0px 4px 0px #277697;
    margin-left: 40px;
}

.slider-wrapper .button.learn-more:hover {
    animation: anima 0.1s ease-in 0s alternate both;
}

.slider-wrapper .available-block {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.slider-wrapper .available-on {    
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.slider-wrapper .available-block a {
    padding-left: 20px;
}

.slider-wrapper .available-block a:hover {
    transform: scale(0.95);
}

.advantages {
    background-color: #f9f9f9;
    padding-bottom: 95px;
    border-bottom: 1px solid #e7e7e7;
}

.titles {
    padding: 55px 0px;
}

.main_title {
    font-size: 36px;
    font-weight: 900;
    color: #414042;
    text-align: center;
}

.second_title {
    font-size: 20px;
    font-weight: 400;
    color: #4e4d4f;
    text-align: center;
}

.advantages_elements {

}

.advantage {
    text-align: center;
    width: 220px;
    margin: 0px auto;
}

.advantage:hover .advantage-img {
   background-color: #414042; 
}

.advantage:hover .advantage_title {
    color: #4bcaff; 
}

.advantage-img {
    width: 162px;
    height: 162px;
    border-radius: 170px;
    border: 4px solid rgba(239, 239, 239, 1);
    background-color: #4bcaff;
    box-sizing: content-box;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage .advantage_description {
    font-size: 13px;
    font-weight: 400;
    color: #838383;
    line-height: 1.5em;
}

.advantage .advantage_title {
    font-size: 15px;
    font-weight: 700;
    color: #414042;
    padding: 30px 0px;
    text-transform: uppercase;
}

.gallery {
    padding-bottom: 90px;
}

.gallery-element {
    width: 270px;
    margin: 0px auto;
}

.element-img {    
    position: relative;
    cursor: pointer;     
    height: 200px;
    width: 270px; 
}

.element-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    color: #4bcaff;      
    height: 40px;
    border-radius: 0 0 9px 9px;
    margin-top: -43px;
    background-color: rgba(1,1,1,.3);
    z-index: 10;
}

.element-img img {
    width: 270px;
    height: 200px;
    border-radius: 9px;
}

.element-img:hover > a::after{
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 270px; 
    content: "";
    z-index: 5;
    background-color: #07a2e2;
    left: 0px;
    opacity: 0.5;
    border-radius: 9px; 
    z-index: 1;
}

.element-img:hover > a::before {
    content: "";    
    background-image: url(../img/plus-img.png);
    position: absolute;    
    width: 23px;
    height: 23px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; 
    z-index: 10;   
}

.element-description {
    font-size: 13px;
    font-weight: 400;
    color: #838383;
    width: 220px;
    text-align: center;
    margin: 0px auto;
    padding: 25px 0px;
    line-height: 1.5em;
}

.start-screen {
    background-image: url(../img/startscreen.jpg);
    height: 550px;
    width: 100%;  
    background-size: cover;   
    margin: 0px auto;   
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding-top: 160px;
}

.video-button img {
    display: block;
    margin: 0px auto; 
    cursor: pointer;   
}

.video-title {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    padding: 50px 0px 40px;
    color: white;
    text-shadow: .3px .5px .3px #265369;
}

.video-title span {
    font-weight: 700;
}

.video-description {
    font-size: 18px;
    font-weight: 300;
    color: white;
    width: 680px;
    text-align: center;
    margin: 0px auto;
}

.package-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choosing-area {
    padding-bottom: 68px;
}

.package {
    background-color: #f9f9f9;
    border: 1px solid #dad7d7;
    width: 300px;
    height: 415px;
    border-radius: 3px;
    margin: 0px 15px;
    border-radius: 3px;
}

.package-name {
    font-size: 17px;
    font-weight: 700;
    color: #d7d7d7;
    text-align: center;
    padding: 30px 0px;  
    text-transform: uppercase;  
}

.package-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DroidSans';
    font-size: 85px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 298px;
    height: 115px;
    background-color: #91c46b;    
    text-shadow: .2px .2px .5px black;
}

.package-description {
    font-size: 18px;
    font-weight: 700;
    color: #d7d7d7;
    text-align: center;
    width: 170px;
    margin: 0px auto;
    line-height: 2em;
    padding: 25px 0px;
}

.package-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    color: #fefefe;
    font-size: 15px;
    font-weight: 700;    
    width: 170px;
    height: 50px;
    margin: 0px auto;
    background-color: #91c46b;
    text-align: center;
    border-radius: 3px;
}

.package-button:hover {
    background-color: #f9f9f9;
    color: #91c46b;
    border: 3px solid #91c46b;    
}

.package.advanced .package-price {
    background-color: #fd7c00;
}

.package.advanced .package-button {
    background-color: #fd7c00;
}

.package.advanced .package-button:hover {
    background-color: #f9f9f9;
    color: #fd7c00;
    border: 3px solid #fd7c00;    
}

.package.professional  {
    width: 370px;
    height: 455px;
}

.package.professional .package-name {
    color: #4bcaff;
    font-size: 22px;
}

.package.professional .package-price {
    width: 368px;
    height: 115px;
    background-color: #4bcaff;
}

.package.professional .package-description {
    color: #4bcaff;
}

.package.professional .package-button {
    background-color: #4bcaff;
}

.package.professional .package-button:hover {
    background-color: #f9f9f9;
    color: #4bcaff;
    border: 3px solid #4bcaff;   
}


.second_slider-area {
    background-color: #f9f9f9;
    border-top: 1px solid #e7e7e7;   
    padding-bottom: 100px; 
}

.slider-title {
    padding: 40px 0px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #414042;
}

.second_slider-wrapper .slide {
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 535px;
    height: 175px;
    margin: 0px auto;
    display: flex;
    align-items: center;
}

.second_slider-wrapper .slide > img {
    display: inline-block;
    padding-right: 30px;
}

.second_slider-wrapper .comments {   
    display: inline-block; 
    width: 345px;
    font-size: 14px;
    font-weight: 700;
    color: #4bcaff;
    text-align: left;
    line-height: 1.25em;
}

.signature-name {
    display: block;
    font-style: italic;    
    text-align: right;
    line-height: 1.25em;
}

.signature-from {
    display: block;
    font-style: italic;    
    text-align: right;
    line-height: 1.25em;
}

.download-area {
    background-color: #414042;
    height: 210px;
}

.question {
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 30px;
}

.button.download {
    display: flex;    
    color: #414042; 
    height: 62px;
    background-color: #4bcaff;
    margin: 0px auto;
    box-shadow: 0px 4px 0px #277697;
    cursor: pointer;
}

.button.download:hover {
    animation: anima 0.1s ease-in 0s alternate both;
}

.map-area {
  /*  background-image: url(../img/map.jpg);
    height: 681px;
    width: 100%;  
    background-size: cover; */  
    margin: 0px auto;   
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

#map {
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 1;
}

form {
    position: relative;
    z-index: 10;
    font-family: 'Arial';
    display: flex; 
    flex-flow: column;
    border-radius: 5px;
    width: 325px;    
    background-color: rgba(75, 202, 255, 0.8);
    margin: 0px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.1);    
    padding: 0px 27.5px;
}

#form {
    display: none;   
}

.form.fancybox-content {
    overflow: visible; 
    background-color: rgba(75, 202, 255, 0.8); 
    padding: 0px 27.5px;
}

.success {
    position: relative;
    z-index: 10;
    font-family: 'Arial';    
    display: none; 
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 5px;
    width: 325px;   
    color: white;
    font-size: 20px;    
    background-color: rgba(75, 202, 255, 0.8);
    margin: 0px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 0 0 rgba(0, 0, 0, 0.1);    
    padding: 0px 27.5px;
}

.form-name {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 25px 0px 15px 0px;
}

input::-moz-placeholder {
    color: #d3d3d3; } 

textarea::-moz-placeholder {
    color: #d3d3d3; } 

input::-webkit-input-placeholder {
    color: #d3d3d3; }

textarea::-webkit-input-placeholder {
    color: #d3d3d3; }

input {outline:none;}

button {outline:none;}

input:required {
    box-shadow:none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white !important;  
}

form span {
    font-size: 13px;
    color: red;
}

input[type="text"], input[type="email"], input[type="subject"], input[type="number"] {    
    position: relative;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin: 0px auto;
    border: 0px;
    text-align: center;    
    font-size: 14px;
    margin-bottom: 15px;    
}

textarea {
    width: 100%;
    height: 145px;
    border-radius: 5px;
    margin: 0px auto 15px;
    border: 0px;
    line-height: 2.1em;
    text-align: center;    
    font-size: 14px;    
    resize: none;
    outline:none;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    width: 190px;
    height: 45px;
    border-radius: 5px;
    margin: 0px auto 15px;
    border: 0px;
    font-weight: 700;       
    color: #72b3cc;
    font-size: 15px;
       
    background-color: #414042;
    box-shadow: 0px 4px 0px #313032;
    cursor: pointer;
}

button[type="submit"]:focus {
    animation: anima 0.1s ease-in 0s alternate both;
}

footer {
    background-color: #414042;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name.active, .email.active, .number.active {
    border: 2px solid red;
    margin-bottom: 0px;
}

.copyright, .privacy {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #6a696b;
    padding: 50px 0px;
}

.privacy div {
    display: inline-block;
}

.privacy a {
    display: inline-block;
    text-decoration: none;
    color: #6a696b;
}

.privacy a:hover {
    color: white;
}

@keyframes anima {
  100% {box-shadow: none;
        transform: translate(0px,4px);      
        } 
}

/*перeбиваем стили*/

.slider-wrapper .slick-prev.slick-arrow {   
    position: absolute;
    top: 50px;  
    left: -55px;
    height: 55px;
    width: 55px;
}

.slider-wrapper .slick-prev.slick-arrow:before {
    display: block;
    position: absolute;
    background-image: url(../img/iconnothover.png);  
    height: 55px;
    width: 55px;
    top: 0px;    
    color: transparent;   
}

.slider-wrapper .slick-prev.slick-arrow:hover::before {   
    background-image: url(../img/iconhover.png); 
    transform: rotate(180deg); 
    height: 55px;
    width: 55px;  
}

.slider-wrapper .slick-next.slick-arrow {
    position: absolute;
    top: 50px; 
    right: -55px;
    height: 55px;
    width: 55px;    
}

.slider-wrapper .slick-next.slick-arrow:before {
    display: block;
    position: absolute;
    background-image: url(../img/iconnothover.png);  
    transform: rotate(180deg);
    height: 55px;
    width: 55px;
    top: 0px;    
    color: transparent; 
}

.slider-wrapper .slick-next.slick-arrow:hover::before {
    background-image: url(../img/iconhover.png);  
    transform: rotate(0deg); 
    height: 55px;
    width: 55px; 
}

.slider-wrapper .slick-dots {    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -70px;
    list-style: none;
}

.slider-wrapper .slide.slick-slide {    
    display: flex;
    justify-content: flex-end;
}

.slider-wrapper .slick-dots li button:before { 
    content: "";   
    font-family: 'Lato', sans-serif; 
    border-radius: 50%;
    border: 1px solid white; 
    width: 13px;
    height: 13px;
    opacity: 1;
}

.slider-wrapper .slick-dots li.slick-active button:before {     
    content: "";
    font-family: 'Lato', sans-serif;
    opacity: 1;
    background-color: #4bcaff;  
    box-shadow: 0px 0px 0px 1px #4bcaff;   
    border: 0px;  
    width: 14px;
    height: 14px;  
}

.slider-wrapper *:focus {
    outline: none;
}

.second_slider-wrapper *:focus {
    outline: none;
}

.second_slider-wrapper {
    position: relative;
}

.second_slider-wrapper .slide-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    width: 530px;
}

.second_slider-wrapper .slick-dots li { 
    margin: 0px 20px;   
}

.second_slider-wrapper .slick-dots li button:before { 
    content: "";       
    background-color: #4bcaff;     
    width: 50px;
    height: 6px;
    opacity: 0.3;    
}

.second_slider-wrapper .slick-dots li.slick-active button:before {     
    content: "";   
    opacity: 1;
    background-color: #4bcaff;   
    width: 50px;
    height: 6px;     
}

.second_slider-wrapper ul.slick-dots {
    bottom: -100px;
}

.second_slider-wrapper .slick-prev.slick-arrow:before {
    display: none;
}

.second_slider-wrapper .slick-next.slick-arrow:before {
    display: none;
}

.second_slider-wrapper .slick-prev.slick-arrow {
    width: 0px;
}

.second_slider-wrapper .slick-next.slick-arrow {
    width: 0px;
}










